<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Story</title>
     <link rel="stylesheet" href="{% static 'myNewsApp/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light navbar-fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="source_listing">Sources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="sourcing">Add Source</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="stories_listing">Stories</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="addstory">Add Story</a>
        </li>
          <li>
          <a class="nav-link active " aria-current="page" href="logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class = "addStoryForm">
 <form action="addstory" method="post">
     {% csrf_token %}
     <div>
          <label>Enter the title : </label><br>
     <input type="text" name="title" placeholder="Title" required><br>
         </div>
     <div>
     <label for="body_text">Select the source:</label><br>
     <select name="source1">
          {% for source in sources %}
          <option value="{{source.name}}">{{source.name}}</option>
          {% endfor %}
      </select>
     <br>
     </div>

     <div>
         <label>Enter the published date : </label><br>
     <input type="date" name="pub_date" placeholder="Published Date"  id="datePicker"><br>
         </div>
     <div>
     <label for="body_text">Enter the description:</label><br>
     <textarea name="body_text" rows="4" cols="50" placeholder="Enter the description here"></textarea><br>
     </div>
     <div>
         <label>Enter the url :</label><br>
         <input type="url" name="url1", placeholder="URL" required><br>
         </div>

     <div>
     <label for="company">Choose companies:</label><br>
      <select name="companies" multiple>
          {% for company in allcompanies %}
          <option value="{{company.company_name}}">{{company.company_name}}</option>
          {% endfor %}
      </select>
  <br><br>
         </div>
     <input class = "addBtn" type="submit">

 </form>
    </div>
 <div class="alert" >
       {% for message in messages %}
       <span>{{message}}</span>
       {% endfor %}
   </div>
<script>
    document.getElementById('datePicker').valueAsDate=new Date()
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>