<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
</head>
<body>
  <form action="forget_password" method="post">
      {% csrf_token %}
      <label>Username</label><input type="text" name="username" placeholder="Username"><br>
      <label>New Password</label><input type="password" name="newPassword" placeholder="Password"><br>
      <label>New Password</label><input type="password" name="newPassword1" placeholder="Confirm Password"><br>
      <input type="submit" value="Change">
  </form>
  <a href="login" type="button">Cancel</a>
<br><br>
<div class="alert">
    {% for message in messages %}
    <span>{{message}}</span>
    {% endfor %}
</div>
</body>
</html>