<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Story Editing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'myNewsApp/style.css' %}">

</head>
<body>
{% if messages %}
  <div class="alertMessage warning" style="background-color:#ecaf55">
  <span class="closebtnMessage" onclick="this.parentElement.style.display='none';">&times;</span>
  {% for message in messages %}
       <span>{{message}}</span>
    {% endfor %}
</div>
  {% endif %}
   <div class = "addStoryForm">
 <form action="" method="post">
     {% csrf_token %}
     <div>
          <label>Enter the title : </label><br>
     <input type="text" value="{{story_data.title}}" name="title" placeholder="Title"><br>
         </div>

     <div>
         <label>Enter the published date : </label><br>
     <input type="date" value="{{story_data.pub_date}}" name="pub_date" placeholder="Published Date" id="datePicker"><br>
         </div>
     <div>
     <label for="body_text">Enter the description:</label><br>
     <textarea name="body_text"  rows="4" cols="50" placeholder="Enter the description here">{{story_data.body_text}}</textarea><br>
     </div>
     <div>
         <label>Enter the url :</label><br>
         <input type="url" name="url1" value="{{story_data.url}}" placeholder="URL"><br>
         </div>

     <input class = "addBtn" type="submit" value="Edit" >

 </form>
       <button class="btn btn-secondary mx-2 my-3" onclick="location.href='/stories_listing'">Cancel</button>
       <script>
           document.getElementById('datePicker').valueAsDate = new Date();
       </script>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>